.Fresno {
  color: red;
}

.stats {
  background-color: gray;
  font-size: large;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: grey;
}

h3 {
  font-style: italic;
}

li {
  color: rgb(11, 53, 11);
}

.float {
  float: center;
  width: 60%;
}

img {
  float: left;
  background-color: black;
  border: solid rgb(255, 255, 255);
  border-width: 10px;
  padding: 10px;
  margin: 30px;
}

